body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    padding: 10px;
}

button {
    padding: 10px;
    margin: 5px;
}

li {
    margin: 5px;
    padding: 10px;
    background: #1e293b;
    border-radius: 5px;
}