body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    padding: 10px;
}

button {
    padding: 10px;
    margin: 5px;
}

.app {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.system {
    background: #7f1d1d; /* merah */
}

.user {
    background: #14532d; /* hijau */
}